// BACKGROUND COLORS
$back_1: #FFFFFF;
$back_2: #BBBBBB;
$back_3: #527CEB;
$back_4: #3D3D3D;
$back_5: #333333;
$back_6: #0202301A;
$back_7: #000000B3;
$back_8: #000000E6;
$back_9: #0b1852;

// TEXTCOLORS
$text_1: #FFFFFF;
$text_2: #FFFFFF1F;
$text_3: #FFFFFFD4;
$text_4: #FFFFFFE6;
$text_5: #FFFFFF80;
$text_6: #E0E0E0;
$text_7: #AAAAAA;
$text_8: #03A7D3E6;
$text_9: #F9636B;
$text_10: #818A91;
$text_11: #888888;
$text_12: #B6246E;
$text_13: #444444;
$text_14: #3D3D3D;
$text_15: #1E1E1E;
$text_16: #0C0C0C;
$text_17: #0C0C0C12;
$text_18: #000000;
$text_19: #000000E6;
$text_20: #00000080;
$text_21: #00000014;
$text_22: #000000D4;